header{
    background-image: url(../img/header_bg_desktop.png);
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
}


/* INSTRUCTORS */
.instructors__title{
    font-size: 50px;
}
.instructors__instructor--name{
    font-size: 50px;
}
.instructors__instructor--specialization{
    text-transform: uppercase;
}
.instructors__instructor--text{
    font-size: 24px;
}
.instructors__instructor--btn{
    background-color: #343434;
    color: #fff;
    font-weight: 900;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
}
.instructors__instructor--btn:hover{
    background-color: #9b9b9b;
    color: #202020;
}

/* STUDIO & LIFE */
.studio-and-life{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.studio-and-life__title{
    font-size: 50px;
    font-weight: 900;
}
.studio-and-life__images{
    width: 100%;
}

/* PRICING */
.pricing{
    background-image: url(../img/pricing_bg.png);
    background-repeat: no-repeat;
    height: 689px;
}
.pricing__card{
    background-color: #475548;
    color: #fff;
    margin-top: 5rem;
}
.pricing__text-title{
    font-size: 50px;
}
.pricing__text-description{
    font-size: 28px;
}
.pricing__text-price{
    font-size: 50px;
}


/* CONTACT US */
.contact-us{
    font-size: 50px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.contact-us__button{
    background-color: #343434;
    color: #fff;
    font-weight: 900;
    font-size: 50px;
    padding: 20px 70px;
    border-radius: 20px;
}
.contact-us__button:hover{
    background-color: #9b9b9b;
    color: #202020;
}

/* FOOTER  */
footer{
    background-color: #343434;
    height: 30px;
    text-align: center;
    color: #fff;
}

@media (max-width: 1000px){
    header{
        background-image: url(../img/header_bg_mobile_with_name.png);
    }
}