header{
    background-image: url(../img/header_bg_desktop.png);
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
}


/* CONTACT US */
.contact-us{
    font-size: 50px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.contact-us__button{
    background-color: #343434;
    color: #fff;
    font-weight: 900;
    font-size: 50px;
    padding: 20px 70px;
    border-radius: 20px;
}
.contact-us__button:hover{
    background-color: #9b9b9b;
    color: #202020;
}

/* FOOTER  */
footer{
    background-color: #343434;
    height: 30px;
    text-align: center;
    color: #fff;
}

@media (max-width: 1000px){
    header{
        background-image: url(../img/header_bg_mobile_with_name.png);
    }
}